---
layout: single
---

{{ content }}

{% if page.dates %}
<h2>Important Dates</h2>

<table>
{% for d in page.dates %}
  <tr>
    <td>{{ d.name }}:</td>
    <td><strong>{{ d.date }}</strong></td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if page.timetables %}
<h2>Timetables</h2>
{% for tt in page.timetables %}
<h3>{{ tt.dow }}, {{ tt.date }}</h3>
<table class="workshop">
  {% for t in tt.timetable %}
  <tr>
    <td>{{ t.time }}</td>
    <td>{{ t.event }}</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}

{% endif %}

