---
layout: single
---

{% for level in page.levels %}
  {% if level.sponsors %}
    <h2>{{ level.name }}</h2>
    <div style="text-align:center">
    {% for s in level.sponsors %}
      <p>
        <a href="{{ s.url }}">
          <img src="/{{ site.baseurl }}/{{ page.logodir }}/{{ s.logo }}" alt="{{ s.name }}"/>
        </a>
      </p>
      <p>
        <a href="{{ s.url }}">{{ s.url }}</a>
      </p>
      <p>{{ s.desc }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{{ content }}
